{% extends "base.html" %}
{% load static %}



{% if LANGUAGE_CODE == 'ar' %}
{% block title_ar %}الرئيسية{% endblock title_ar %}
{% else %}
{% block title %}Home{% endblock title %}
{% endif %}

{% block head %}

<style>
    /* Style the buttons that are used to open and close the accordion panel */

    .accordion {
        background-color: #f2f1f8;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        transition: 0.4s;
        border: none;
        border-radius: 80px;
        border: none;
        padding: 20px;
        border-radius: 10px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .accordion-button:hover {
        background-color: #f2f1f8;
        color: white;
        border: none;
        outline: none;
    }

    .active {
        border-radius: 10px 10px 0 0;
        border: none;
        outline: none;
    }


    .accordion-text {
        color: black;
    }




    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: #f2f1f8;
        display: none;
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
    }
</style>


{% endblock head %}


{% block content %}


<body>






    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active" style="min-height: 80vh;">
                    <img class="position-relative w-100" src="{% static 'images/math1.jpg' %}"
                        style="height: 100vh;  object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center" >
                        <div class="p-5" style="width: 100%; max-width: 900px; ">
                            <h5 class="text-white text-uppercase mb-md-3">
                                {% if LANGUAGE_CODE == 'ar' %}
                                كبير معلمي الرياضة
                                {% else %}
                                Best Online Courses
                                {% endif %}
                            </h5>
                            <h1 class="display-3 text-white mb-md-4">
                                {% if LANGUAGE_CODE == 'ar' %}
                                منصة مينا عماد
                                {% else %}
                                Mr Mena Emad Platform
                                {% endif %}
                            </h1>
                            {% if user_profile %}
                            {% else %}
                            <a href="/register" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2 mr-3">
                                <i class="fa fa-right-to-bracket mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                اشترك الان
                                {% else %}
                                Register
                                {% endif %}
                            </a>
                            {% endif %}
                            {% if user_profile.instructor == True %}
                            <a href="/dashboard" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-pen mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                لوحة التحكم
                                {% else %}
                                Dashboard
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="/lessons" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-video mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                المحاضرات
                                {% else %}
                                Lectures
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="min-height: 80vh;">
                    <img class="position-relative w-100" src="{% static 'images/math2.jpg' %}"
                        style="height: 100vh; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">
                                {% if LANGUAGE_CODE == 'ar' %}
                                كبير معلمي الرياضة
                                {% else %}
                                Best Online Courses
                                {% endif %}
                            </h5>
                            <h1 class="display-3 text-white mb-md-4">
                                {% if LANGUAGE_CODE == 'ar' %}
                                منصة مينا عماد
                                {% else %}
                                Mr Mena Emad Platform
                                {% endif %}
                            </h1>
                            {% if user_profile %}
                            {% else %}
                            <a href="/register" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2 mr-3">
                                <i class="fa fa-right-to-bracket mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                اشترك الان
                                {% else %}
                                Register
                                {% endif %}
                            </a>
                            {% endif %}
                            {% if user_profile.instructor == True %}
                            <a href="/dashboard" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-pen mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                لوحة التحكم
                                {% else %}
                                Dashboard
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="/lessons" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-video mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                المحاضرات
                                {% else %}
                                Lectures
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="min-height: 80vh;">
                    <img class="position-relative w-100" src="{% static 'images/math3.jpg' %}"
                        style="height: 100vh; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">
                                {% if LANGUAGE_CODE == 'ar' %}
                                كبير معلمي الرياضة
                                {% else %}
                                Best Online Courses
                                {% endif %}
                            </h5>
                            <h1 class="display-3 text-white mb-md-4">
                                {% if LANGUAGE_CODE == 'ar' %}
                                منصة مينا عماد
                                {% else %}
                                Mr Mena Emad Platform
                                {% endif %}
                            </h1>
                            {% if user_profile %}
                            {% else %}
                            <a href="/register" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2 mr-3">
                                <i class="fa fa-right-to-bracket mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                اشترك الان
                                {% else %}
                                Register
                                {% endif %}
                            </a>
                            {% endif %}
                            {% if user_profile.instructor == True %}
                            <a href="/dashboard" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-pen mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                لوحة التحكم
                                {% else %}
                                Dashboard
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="/lessons" class="btn btn-primary py-md-3 px-md-5 font-weight-semi-bold mt-2">
                                <i class="fa fa-video mr-2"></i>
                                {% if LANGUAGE_CODE == 'ar' %}
                                المحاضرات
                                {% else %}
                                Lectures
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->







    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/teacher.jpg' %}" alt=""
                        data-aos="fade-right" data-aos-duration="3000">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4 ">
                        <h1 data-aos="fade-right" data-aos-duration="1500" class="pr-color">
                            {% if LANGUAGE_CODE == 'ar' %}
                            عن الاستاذ مينا عماد
                            {% else %}
                            About Mr Mena Emad
                            {% endif %}
                        </h1>
                    </div>
                    <p data-aos="fade-right" data-aos-duration="2000">Aliquyam accusam clita nonumy ipsum sit sea clita
                        ipsum clita, ipsum dolores amet voluptua duo
                        dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus
                        gubergren sit rebum clita amet, sea est sea vero sed et. Sadipscing labore tempor at sit dolor
                        clita consetetur diam. Diam ut diam tempor no et, lorem dolore invidunt no nonumy stet ea
                        labore, dolor justo et sit gubergren diam sed sed no ipsum. Sit tempor ut nonumy elitr dolores
                        justo aliquyam ipsum stet</p>

                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Questions -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" data-aos="fade-right" data-aos-duration="1200">
                    {% if LANGUAGE_CODE == 'ar' %}
                    الاسئلة
                    {% else %}
                    Questions
                    {% endif %}
                </h5>
                <h1 data-aos="fade-up" data-aos-duration="1200">
                    {% if LANGUAGE_CODE == 'ar' %}
                    الاسئلة الشائعة
                    {% else %}
                    Common Questions
                    {% endif %}
                </h1>
            </div>
            <div class="row">








                <div class="col-12 mb-3">

                    <div class="add"   data-aos="fade-up" data-aos-duration="1200">
                        <button class="accordion" class="w-100 btn d-flex  text-decoration-none" style="border: none; ">
                            <i class="fa fa-2x fa-angle-up text-primary mr-2" style="font-size: 30px;"></i>
                            <h6 class="m-1 accordion-text" style="text-transform: capitalize; font-size: 18px;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                ازاي اشتري اكواد المحاضرات؟
                                {% else %}
                                How can i buy the lecture codes?
                                {% endif %}
                            </h6>

                        </button>


                        <div class="panel pt-3 pb-2">
                            <p style="padding-bottom: 20px;">
                                حول مبلغ الكود اللي عايز تشحنه علي رقم من الارقام دي و ابعت صورة للتحويل و رقم المحفظة
                                اللي حولت منها علي واتساب نفس الرقم
                            </p>
                            01026102013
                            <br>
                            01025771716
                            <br>
                            01026724576
                        </div>
                    </div>
                    <!-- Add Question  -->

                </div>

                <div class="col-12">

                    <div class="add"   data-aos="fade-up" data-aos-duration="1200">
                        <button class="accordion" class="w-100 btn d-flex  text-decoration-none" style="border: none; ">
                            <i class="fa fa-2x fa-angle-up text-primary mr-2" style="font-size: 30px;"></i>
                            <h6 class="m-1 accordion-text" style="text-transform: capitalize; font-size: 18px;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                ارقام الدعم الفني والتحويل لفودافون كاش ؟
                                {% else %}
                                Vodafone Cash Numbers?
                                {% endif %}
                            </h6>

                        </button>


                        <div class="panel pt-3 pb-2">
                            01026102013
                            <br>
                            01025771716
                            <br>
                            01026724576
                        </div>
                    </div>
                    <!-- Add Question  -->

                </div>








            </div>
        </div>
    </div>
    <!-- Questions -->


    <!-- Category Start -->
    {% if lectures %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" data-aos="fade-right" data-aos-duration="1200">
                    {% if LANGUAGE_CODE == 'ar' %}
                    المحاضرات
                    {% else %}
                    Lectures
                    {% endif %}
                </h5>
                <h1 data-aos="fade-up" data-aos-duration="1200">
                    {% if LANGUAGE_CODE == 'ar' %}
                    اخر الاصدارات
                    {% else %}
                    Latest Realeses
                    {% endif %}
                </h1>
            </div>
            <div class="row">







                <!-- <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">

                        <img class="img-fluid" src="{{x.image.url}}" alt="">

                        <img class="img-fluid" src="{% static 'img/cat-4.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">English</h4>
                        </a>
                    </div>
                </div> -->



                {% for x in lectures|slice:"0:3" %}
                <div class="col-md-6 col-lg-4 text-center team mb-2">

                    <div class="team-item rounded overflow-hidden mb-2" data-aos="flip-down" data-aos-duration="1700">
                        <div class="team-img position-relative" style="cursor: pointer;">
                            {% if x.image %}
                            <img class="img-fluid" src="{{x.image.url}}" style="height: 200px; width: 100%;">
                            {% else %}
                            <img class="img-fluid" src="{% static 'img/default-image-photo.png' %}" style="height: 200px; width: 100%;">
                            {% endif %}
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="/lessons/{{x.id}}">
                                    <i class="fa-solid fa-eye "></i>
                                </a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <a href="/lessons/{{x.id}}" style="text-decoration: none;">
                                <h5>{{x.title}}</h5>
                            </a>
                            <p class="m-0" style="text-transform: capitalize;">{{x.teacher_name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}












            </div>
        </div>
    </div>
    {% endif %}
    <!-- Category Start -->




    <!-- Teahcers Start -->

    <!-- <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" >Teachers</h5>
                <h1>Our Teachers</h1>
            </div>
            <div class="row">


                {% for x in instructor %}
                <div class="col-md-6 col-lg-3 text-center team mb-4" data-aos="fade-down" data-aos-duration="2200">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            {% if x.image %}
                            <img class="img-fluid" src="{{x.image.url}}">
                            {% else %}
                            <img class="img-fluid" src="{% static 'img/default-image-photo.png' %}">
                            {% endif %}
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="/profile/{{x.user}}">
                                    <i class="fa-solid fa-user "></i>
                                </a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>{{x.name}}</h5>
                            <p class="m-0" style="text-transform: capitalize;">{{x.subject}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}




            </div>
        </div>
    </div> -->

    <!-- Team End -->





    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

</body>




{% endblock content %}