{% extends "base-without-nav.html" %}
{% load static %}

{% if LANGUAGE_CODE == 'ar' %}
{% block title_ar %}انشاء حساب جديد{% endblock title_ar %}
{% else %}
{% block title%}Account Setup{% endblock title %}
{% endif %}


{% block head %}



<style>
    .setup-box {
        margin-top: 20px;
        border-radius: 10px;
        padding: 10px 0;
        border: 1px solid #dee2e6;
    }

    .steps {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;


    }

    .circle {
        background-color: black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 0px 10px;
    }

    #check {
        background-color: #4bb543;
    }

    .small-circle {
        background-color: black;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0px 10px;
        color: transparent;
    }

    .steps-head {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        color: black;
        font-size: 35px;
        font-weight: 800;
    }
</style>

{% endblock head %}



{% block content %}

<body>

    <!-- Setup  -->

    <div class="container mt-5 mb-5">

        <div class="row justify-content-center" style="padding: 0 13px;">


            <div class="col-12 col-lg-8 setup-box " style="padding: 0px 10px;">
                <div class="mt-3">

                    <div class="steps">
                        <span class="circle">
                            1
                        </span>

                        <span class="small-circle">
                            .
                        </span>

                        <span class="small-circle">
                            .
                        </span>

                        <span class="small-circle">
                            .
                        </span>

                        <span class="circle">
                            2
                        </span>
                    </div>



                    <div class="steps-head">
                        {% if LANGUAGE_CODE == 'ar' %}
                        الخطوة الاولى
                        {% else %}
                        First Step
                        {% endif %}


                    </div>

                </div>

                <div class="container-fluid mt-3 mb-4">

                    <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}


                        {% if user_profile.name %}

                        <div class="col-md-6 mb-2">
                            <label for="inputEmail4" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الاسم الاول
                                {% else %}
                                First Name
                                {% endif %}

                            </label>
                            <input type="text" class="form-control" id="inputEmail4" name="first"
                                value="{{user_profile.name}}" style="background-color: #f2f1f8;">
                        </div>
                        {% else %}
                        <div class="col-md-6 mb-2">
                            <label for="inputEmail4" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الاسم الاول
                                {% else %}
                                First Name
                                {% endif %}
                            </label>
                            <input type="text" class="form-control" id="inputEmail4" name="first"
                                style="background-color: #f2f1f8;">
                        </div>
                        {% endif %}

                        {% if user_profile.name %}
                        <div class="col-md-6 mb-2">
                            <label for="inputPassword4" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الاسم الاخير
                                {% else %}
                                Last Name
                                {% endif %}
                            </label>
                            <input type="text" class="form-control" id="inputPassword4" name="second"
                                value="{{user_profile.name}}" style="background-color: #f2f1f8;">
                        </div>
                        {% else %}
                        <div class="col-md-6 mb-2">
                            <label for="inputPassword4" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الاسم الاخير
                                {% else %}
                                Last Name
                                {% endif %}
                            </label>
                            <input type="text" class="form-control" id="inputPassword4" name="second"
                                style="background-color: #f2f1f8;">
                        </div>
                        {% endif %}



                        {% if user_profile.phone %}
                        <div class="col-12 mb-2 mt-2">
                            <label for="inputAddress" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                رقم الموبايل
                                {% else %}
                                Phone Number
                                {% endif %}
                            </label>
                            <input type="text" class="form-control" id="inputAddress" name="phone"
                                value="{{user_profile.phone}}" placeholder="01XXXXXXXXX"
                                style="background-color: #f2f1f8;">
                        </div>
                        {% else %}
                        <div class="col-12 mb-2 mt-2">
                            <label for="inputAddress" class="form-label">
                                {% if LANGUAGE_CODE == 'ar' %}
                                رقم الموبايل
                                {% else %}
                                Phone Number
                                {% endif %}
                            </label>
                            <input type="text" class="form-control" id="inputAddress" name="phone"
                                placeholder="01XXXXXXXXX" style="background-color: #f2f1f8;">
                        </div>
                        {% endif %}





                        <div class="col-12 mt-5">
                            <button type="submit" class="btn btn-primary w-100" style="background-color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                التالي
                                {% else %}
                                Next
                                {% endif %}

                                <i class="fa-solid fa-arrow-right ml-2"></i>
                            </button>
                        </div>


                    </form>
                </div>



            </div>



        </div>


    </div>
    <!-- Setup  -->













</body>
{% endblock content %}