{% extends "base2.html" %}
{% load static %}

{% if LANGUAGE_CODE == 'ar' %}
{% block title_ar %}تغيير كلمة السر{% endblock title_ar %}
{% else %}
{% block title%}Password Change{% endblock title %}
{% endif %}




{% if LANGUAGE_CODE == 'ar' %}

{% else %}

{% endif %}


{% block content %}


<body>




    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">
                    {% if LANGUAGE_CODE == 'ar' %}
                    تغير كلمة السر
                    {% else %}
                    Password Change
                    {% endif %}
                </h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/">
                            {% if LANGUAGE_CODE == 'ar' %}
                            الرئيسية
                            {% else %}
                            Home
                            {% endif %}
                        </a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">
                        {% if LANGUAGE_CODE == 'ar' %}
                        تغير كلمة السر
                        {% else %}
                        Password Change
                        {% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->





    <!-- Password Change -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <!-- <h6 class="text-primary text-uppercase" style="font-size: 30px;" >You Must Login First</h6> -->
                <h1 style="font-size: 50px;">
                    {% if LANGUAGE_CODE == 'ar' %}
                    تغير كلمة السر
                    {% else %}
                    Password Change
                    {% endif %}
                </h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-white" style="padding: 30px;">
                        <div id="success"></div>


















                        <form method="POST" action="/accounts/password/change/">
                            {% csrf_token %}


                            {% if LANGUAGE_CODE == 'ar' %}

                            <!-- Arabic Inputs  -->
                            <div class="input-group mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="oldpassword" placeholder="كلمة السر الحالية"
                                    autocomplete="current-password" required="" class="form-control p-4"
                                    data-validation-required-message="Enter Your Current Password">
                            </div>



                            <div class="input-group mb-3 mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="password1" placeholder="كلمة السر الجديدة" required=""
                                    class="form-control p-4" autocomplete="new-password"
                                    data-validation-required-message="Enter Your New Password">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="password2" placeholder="تاكيد كلمة السر الجديدة"
                                    required="" class="form-control p-4"
                                    data-validation-required-message="Confirm Your New Password">
                            </div>



                            {% else %}

                            <!-- English Inputs  -->
                            <div class="input-group mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="oldpassword" placeholder="Current Password"
                                    autocomplete="current-password" required="" class="form-control p-4"
                                    data-validation-required-message="Enter Your Current Password">
                            </div>



                            <div class="input-group mb-3 mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="password1" placeholder="New Password" required=""
                                    class="form-control p-4" autocomplete="new-password"
                                    data-validation-required-message="Enter Your New Password">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-2x fa-key text-primary mr-3"
                                            style="font-size: 20px;"></i></span>
                                </div>
                                <input type="password" name="password2" placeholder="New Password (again)" required=""
                                    class="form-control p-4"
                                    data-validation-required-message="Confirm Your New Password">
                            </div>



                            {% endif %}











                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-4 w-100" type="submit" name="action"
                                    id="sendMessageButton">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                    تغيير
                                    {% else %}
                                    Change
                                    {% endif %}
                                </button>
                            </div>
                        </form>

                        <!-- <p class="text-base"> Forgot Password? <a href="/accounts/password/reset/" class=""> Reset </a>
                        </p> -->




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Password Change -->








</body>

{% endblock content %}